a.app_nav_buttons {
    display: block;
    padding-left: 20px;
    padding-top: 30px;
    color: var(--screen_bg);
    font-weight: 300;
    text-decoration: none;
    font-family: var(--text);
    font-size: 1.4em;
}