div.button {
    a {
        button {
            background-color: var(--button);
            border: none;
            color: var(--screen_bg);
            font-size: 1em;
            padding: 0;
            cursor: pointer;
        }
    }
}