ul.top_navigation {
    width: 750px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    li {
        margin-right: 30px;
        a {
            color: var(--screen_bg);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.2em;
            &:hover {
                color: var(--button);
                cursor: pointer;
            }
        }
        .active {
            color: var(--button);
        }
    }
}