:root {
    --side_bar: #5B605F; // panel boczny, nawigacja
    --header: #4a4a49; // nagłówek, kolor tekstu w kolumnach 
    --button: #FF6600; // przyciski, wyróżnienia, nagłówki ekranów 
    --screen_bg: #FFFFFA; // kolor tła ekranów
    --info: #3498DB; // kolor wiadomości typu info,
    --warn: #FFB03B; // kolor wiadomości typu warning 
    --success: #468966; // kolor wiadomości typu success
    --bin: #BD4932; // kolor ikony kosza
    --chart: #A1A194; // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
    --text: 'Open Sans', sans-serif; // font dla tekstow
    --logo: 'Charmonman', cursive; // font dla logo
}