section.why_section {
    width: 100%;
    div.container {
        div.why_box {
            width: 100%;
            height: 800px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}