@import "config/variables";
@import "config/fonts";
@import "config/normalize";
@import "config/reset";
// @import "elements/container";
// @import "elements/header";
// @import "elements/carousel";
// @import "elements/calltoaction";
// @import "elements/newsletter";
// @import "elements/appmainview";
// @import "elements/aboutme";
// @import "elements/footer";
// body {
//     font-family: 'Charmonman';
//     font-size: 1.5em;
//     margin: 50px;
//     .active {
//         color: var(--info);
//         font-size: 2em;
//         font-weight: 400;
//     }
// }
div.container {
    max-width: 1220px;
    min-width: 1200px;
    height: 100%;
    margin: 0 auto;
}